
# Created by https://www.gitignore.io/api/vue,vuejs
# Edit at https://www.gitignore.io/?templates=vue,vuejs

### Vue ###
.DS_*
*.log
logs
**/*.backup.*
**/*.back.*

node_modules

psd
thumb
sketch

### Vuejs ###
# Recommended template: Node.gitignore

node_modules/
dist/
npm-debug.log
yarn-error.log
yarn.lock

### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

### VisualStudioCode Patch ###
# Ignore all local history of files
.history